<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link id="mainStyle" rel="stylesheet" href="/static/application/styles-esta-v1446499383000.css" type="text/css">
</head>
<body>
    <form id="ETAApplication" action="/application/submit/" method="post">
        {% csrf_token %}
        <div id="content" class="container esta-application" tabindex="-1">
            <hr class="margin-less">
            <div id="applicantInfo" class="row">
                <div class="inner col-sm-8">
                    <div class="col-sm-12 col-md-6 form-group">
                            <label for="applicant.lastName" class="esta-field">Family Name<span class="esta-application-required">*</span></label>
                            <span data-toggle="tooltip" tabindex="0" data-container="form" class="tooltip-trigger" title="" data-original-title="In the Family Name field, enter your family name as the family name appears on your passport under the Family Name or Surname field. The family name is required to complete the application."><i class="icon-helpicon"></i></span>
                            <!-- input id="familyName" class="form-control esta-field" type="text" name="family_name" /-->
                            <input id="applicant.lastName" name="applicant.lastName" class="form-control esta-field" type="text" value="">
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-4 form-group pull-right">
                	    <button id="_eventId_next" name="_eventId_next" class="btn btn-default btn-lg btn-block button button-next esta-button-primary radius" type="submit" value="Submit">NEXT</button>
                        <!-- <a id="buttonNext" href="travelInformation.html" tabindex="0" class="btn btn-default btn-lg btn-block button esta-button-primary radius" onclick="onLinkClick();">NEXT</a> -->
                    </div>

                </div>
            </div>
        </div>
    </form>

</body>
</html>