<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hit-Visa</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-/static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/application/index/">
                    <i style="font-size:25px">HIT- <i class="fa fa-cc-visa"></i></i>
                </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Welcome, {{ user.email }}
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/application/user_profile/"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/accounts/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="{% url 'application_user_profile' %}"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope fa-fw"></i> News</a>
                        </li>
                        <li>
                            <a href="{% url 'application_apply_for_visa' %}"><i class="fa fa-cc-visa fa-fw"></i> Apply For Visa</a>
                        </li>
                        <li>
                            <a href="{% url 'application_status' %}"><i class="fa fa-tasks fa-fw"></i> Application Status</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-phone fa-fw"></i> Contact Us</a>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-/static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">Appication Status</h3>
                        <div class="alert alert-info">
                            <h4><i class="fa fa-flag-checkered" style="color: green"></i>  STEP 1:</h4>
                        </div>

                        <div class="well">
                            <h4 style="color: green">Fill Out And Submit Visa Application Form Online</h4>
                            <li>
                                Click On <a href="{% url 'application_apply_for_visa' %}">Apply For Visa</a> and fill
                                out all the information filed. Then submit to finish first step.
                            </li>
                            <li>
                                After submission, this website will automaticly generates <strong>Foreigner Visa Dcuments Application Form
                                (《外国人签证证件申请表》) </strong>according to your information submitted.
                            </li>
                        </div>

                        <div class="alert alert-info">
                            <h4><i class="fa fa-flag-checkered" style="color: green"></i>  STEP 2:</h4>
                        </div>

                        <div class="well">
                            <h4 style="color: green">Download And Print <strong>Foreigner Visa Dcuments Application Form</strong></h4>
                            <li>
                                You must finish step 1 first before you start step 2.
                            </li>
                            <li>
                                Download
                                <a href="#">
                                    <strong>Foreigner Visa Dcuments Application Form (《外国人签证证件申请表》) </strong>
                                </a>
                            </li>
                        </div>

                        <div class="alert alert-info">
                            <h4><i class="fa fa-flag-checkered" style="color: green"></i>  STEP 3:</h4>
                        </div>

                        <div class="well">
                            <h4 style="color: green">Materials / Documents Preparation</h4>
                            <li>
                                You must finish step 1 first before you start step 3.
                            </li>
                            <li>
                                According to the information you submitted in step 1, You need to prepare the following documents:
                            </li>
                            <li>
                                Refer to <a href="#materials_list"><strong>Application Materials List</strong></a> for labels
                            </li>
                            <li>
                                All your documents should be put in this order:
                            </li>
                            <li>
                                <strong>Note: <a href="#materials_list"><strong>Application Materials List</strong></a>
                                    is just for reference, you don't need to prepare documents not listed above.
                                </strong>
                            </li>
                        </div>

                        <div id="materials_list" class="panel panel-default">
                            <div class="panel-heading">
                                <h4 style="font-weight: bold">Application Materials List</h4>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Label</th>
                                                <th>Form Title(English)</th>
                                                <th>表单名称</th>
                                                <th>Example</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href="#A1_warning">#A1</a></td>
                                                <td>Foreigner Visa Dcuments Application Form (Original)</td>
                                                <td>《外国人签证证件申请表》</td>
                                                <td>None</td>
                                            </tr>
                                            <tr>
                                                <td>#A2</td>
                                                <td>Passport (Original)</td>
                                                <td>护照原件</td>
                                                <td>None</td>
                                            </tr>
                                            <tr>
                                                <td>#A3</td>
                                                <td>Passport Main Page (Copy)</td>
                                                <td>护照复印件</td>
                                                <td>None</td>
                                            </tr>
                                            <tr>
                                                <td>#B1</td>
                                                <td>Chinese Visa Page Of Your Passport (Copy)</td>
                                                <td>中国签证页复印件</td>
                                                <td>None</td>
                                            </tr>
                                            <tr>
                                                <td>#B2</td>
                                                <td>Most Recent Entry Stamp Page On Your Passport (Copy)</td>
                                                <td>最新入境章复印件</td>
                                                <td>None</td>
                                            </tr>
                                            <tr>
                                                <td>#C1</td>
                                                <td>One 2-inches Colorful Bare-headed Full-faced Photo(width:35mm,height:45mm)</td>
                                                <td>一张2寸免冠彩色照片照片（宽:35毫米；高45毫米）</td>
                                                <td>None</td>
                                            </tr>
                                            <tr>
                                                <td>#D1</td>
                                                <td>Residence Registration Form (Original)</td>
                                                <td>《住宿登记表》原件</td>
                                                <td>None</td>
                                            </tr>
                                            <tr>
                                                <td>#E1</td>
                                                <td>Admission Notice of HIT (Original)</td>
                                                <td>《录取通知书》原件</td>
                                                <td>None</td>
                                            </tr>
                                            <tr>
                                                <td>#F1</td>
                                                <td>Tuition Fee Receipt (Original)</td>
                                                <td>学费收据原件</td>
                                                <td>None</td>
                                            </tr>
                                            <tr>
                                                <td>#G1</td>
                                                <td>Pysical Test Proof (Original)</td>
                                                <td>《境外人员体格检查记录验证证明》原件</td>
                                                <td>None</td>
                                            </tr>
                                            <tr>
                                                <td>#H1</td>
                                                <td>Form JW201 (Copy)</td>
                                                <td>《JW201表》复印件</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>#H2</td>
                                                <td>Visa Application for Study in China--Form JW202 (Copy)</td>
                                                <td>《JW202表》复印件</td>
                                                <td>
                                                    <button class="btn btn-primary" data-toggle="modal"
                                                       data-target="#myModal">
                                                       Example
                                                    </button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>


                        <div id="A1_warning" class="alert alert-warning">
                            <h4 style="color: black">#A1: download from step 2.</h4>
                        </div>

                        <div id="A1_warning" class="alert alert-warning">
                            <h4 style="color: black">#A1: download from step 2.</h4>
                        </div>



                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->




    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal" aria-hidden="true">
                      &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                   模态框（Modal）标题
                </h4>
             </div>
             <div class="modal-body">
                在这里添加一些文本
                 <img src="/static/test.jpg" alt="back" width="850" height="1169" class="img-responsive">
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-default"
                   data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary">
                   提交更改
                </button>
             </div>
          </div><!-- /.modal-content -->
    </div><!-- /.modal -->
    </div>


    <!-- jQuery -->
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>

</body>

</html>
