{% extends "application/index_nav_base.html" %}

{% block content %}
        <div class="container">

            <div class="col-md-12 well">
                <table>
                    <tr>
                        <td>
                            <img src="/static/fengdi.jpg" class="img-responsive" width="200" height="141">

                        </td>
                        <td style="padding-left: 100px">
                            <h4><strong>Program Coordinator：FENG Di</strong></h4>
                            <br>
                            <span><strong>Room No.:</strong> #306 ISC </span>
                            <br>
                            <span><strong>Tel:</strong> +86-451-86403742 </span>
                            <br>
                            <span><strong>Email:</strong> fengdi@hit.edu.cn</span>
                            <br>
                            <br>
                            <span><strong>Office Hours:</strong> Moday to Friday: 8:00am-11:30am 1:30pm-5:30pm</span>
                            <br>
                            <span><strong>Visa Check Hours:</strong> Moday to Friday: 8:00am-11:30am</span>
                        </td>
                    </tr>
                </table>

            </div>

            <div class="col-md-12 well">
                <table>
                    <tr>
                        <td>
                            <img src="/static/gaoyang.jpg" class="img-responsive" width="200" height="141">

                        </td>
                        <td style="padding-left: 100px">
                            <h4><strong>Program Coordinator：GAO Yang</strong></h4>
                            <br>
                            <span><strong>Room No.:</strong> #306 ISC </span>
                            <br>
                            <span><strong>Tel:</strong> +86-451-86403742 </span>
                            <br>
                            <span><strong>Email:</strong> gaoy@hit.edu.cn</span>
                            <br>
                            <br>
                            <span><strong>Office Hours:</strong> Moday to Friday: 8:00am-11:30am 1:30pm-5:30pm</span>
                            <br>
                            <span><strong>Visa Check Hours:</strong> Moday to Friday: 8:00am-11:30am</span>

                        </td>
                    </tr>
                </table>

            </div>



        </div>


{% endblock %}
