{% extends "application/index_nav_base.html" %}

{% block content %}

        <div class="container">
            <div class="well">
                <h3>Password Reset</h3>
                <p>
                    Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
                </p>

                <form method="post" action="."  role="form">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="form-group">
                        <label class="control-label" for="reset_email">Email Address:</label>

                        <div class="">
                            <input type="text" class="form-control" id="reset_email" name="email">
                            {{ form.email.errors }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-lg btn-danger">Send email to reset password</button>

                </form>


            </div>
        </div>
{% endblock %}




