{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form method="post" action=".">
  {% csrf_token %}

{#    <p><label for="id_username">Username:</label>#}
{#    <input id="id_username" type="text" name="username" /></p>#}
{##}
{#<p><label for="id_email">Email:</label>#}
{#    <input type="email" name="email" id="id_email" /></p>#}
{#<p><label for="id_password1">id_password1:</label>#}
{#    <input type="password" name="password1" id="id_password1" /></p>#}
{#    <p><label for="id_password2">id_password2:</label>#}
{#    <input type="password" name="password2" id="id_password2" /></p>#}
  {{ form.as_p }}
  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}
